annotated-types==0.7.0 ; python_version >= "3.13" and python_version < "4"
certifi==2025.4.26 ; python_version >= "3.13" and python_version < "4"
charset-normalizer==3.4.2 ; python_version >= "3.13" and python_version < "4"
dnspython==2.7.0 ; python_version >= "3.13" and python_version < "4"
email-validator==2.2.0 ; python_version >= "3.13" and python_version < "4"
hera @ git+https://github.com/argoproj-labs/hera@4e680e2c27622530dc1c4aa5a6d1c5cb991e563d ; python_version >= "3.13" and python_version < "4"
idna==3.10 ; python_version >= "3.13" and python_version < "4"
pydantic-core==2.33.2 ; python_version >= "3.13" and python_version < "4"
pydantic==2.11.4 ; python_version >= "3.13" and python_version < "4"
requests==2.32.3 ; python_version >= "3.13" and python_version < "4"
typing-extensions==4.13.2 ; python_version >= "3.13" and python_version < "4"
typing-inspection==0.4.0 ; python_version >= "3.13" and python_version < "4"
urllib3==2.4.0 ; python_version >= "3.13" and python_version < "4"
