name: CICD

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build-and-run:
    name: build and run workflow-template
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build image
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: ${{ vars.DOCKERHUB_USERNAME }}/hera-example-project:pr-${{ github.event.number }}

      - name: checkout
        uses: actions/checkout@v5

      - name: Set up Python 3.13
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Install base dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install poetry

      - name: Install dependencies
        run: poetry install

      - name: check-codegen
        run: |
          make create-yaml
          git diff --exit-code || (echo "Code is not up-to-date. Please run 'make codegen'" && exit 1)

      - name: set up cluster
        run: make install-k3d set-up-cluster set-up-argo

      - name: Run Workflow e2e
        run: IMAGE_NAME=${{ vars.DOCKERHUB_USERNAME }}/hera-example-project:pr-${{ github.event.number }} make run-wt
